*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 :root {
     --black: hsl(234, 29%, 20%);
     --blueBlack: hsl(235, 18%, 26%);
     --grey: hsl(0, 0%, 58%);
     --White: hsl(0, 0%, 100%);
 }
img{
    display: block;
    width: 50px;
 
}
body{
    display: flex;
    height: 100svh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.success{
    display: flex;
    min-width: 85vw;
    flex-direction: column;
    min-height: 100vh;
    padding: 1.5em;
    padding-top: 10em;

}
h1{
    padding-top: 1em;
    padding-bottom: 1em;
}
.dismiss a{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
text-decoration: none;
color: var(--White);
padding: 0.5em;
border-radius: 6px;
background-color: var(--black);

}
.dismiss{
    margin-top: auto;
}